.body {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;


}

.header__menu {
    width: 391px;


}

.header__links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 133px 36px 100px 50px;
    gap: 30px;

}

.header__links-list-item {}

.header__link {}

.header__links-list-item_no-bullit {}

.header__link_active {}



/*логотип*/
.header__logo {
    padding-top: 50px;
}

.header__logo-image {}

.header__logo-image-link {
    display: inline-block;
    width: 148px;
    height: 105px;
}


/*контакты*/
.header__address {
    width: 240px;
    height: 98px;
    margin: 95px 50px 0px 184px;
}

.address {}

.address__links-list {
    list-style: none;
}

.adress__links-list-item {}

.address__link {}

.address__link_no-underline {}


/*главная*/
.main {}


/*оверлей*/
.cover {
    min-height: 757px;
    position: relative;
    background-image: url("../images/cover.jpg");

}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}


.main__cover-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 165px 50px 0 50px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-content: end;
}

.description__text {
    display: inline-block;
}

/*лоты*/
.lots {}

.lots__heading {}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    
}

.card-link {}

.card {
    background-size: cover;
    background-position: center;
    min-height: 596px;
    position: relative;

}


.card__title {
}

.card__text {
}


.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}